.button {
  background-color: var(--unifi-primary);
  color: var(--unifi-text);
  border: 1px solid var(--unifi-border);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}