.actions {
  position: relative;
  width: 100%;
  background-color: var(--unifi-secondary);
  display: flex;
  align-items: center;
  border: 1px solid var(--unifi-border);
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;

  .action {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--unifi-text);
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    gap: 6px;
    z-index: 2;

    &.active {
      color: black;
    }
  }

  .indicator {
    position: absolute;
    top: 4px;
    left: calc((100% / 3) + 4px);
    width: calc(100% / 3);
    height: calc(100% - 8px);
    background-color: var(--unifi-primary-hover);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 1;

    &.first {
      left: 4px;
    }

    &.last {
      width: calc((100% / 3) - 4px);
      left: calc(100% / 3 * 2);
    }
  }
}
